.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 29, 29);
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 75%;
}

.item {
    margin-right: 2em;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: rgb(0, 254, 21);
}